@font-face {
    font-family: "GT America";
    src: url(/fonts/FontsFree-Net-GT-America-Regular-1.ttf);
}
@font-face {
    font-family: "GT Pressura Light";
    src: url(/fonts/GTPressuraLight/GTPressuraLight.ttf);
}
@font-face {
    font-family: "GT Pressura Regular";
    src: url(/fonts/GTPressuraRegular/GTPressuraRegular.ttf);
}