@import "fonts";
@import "header";
@import "footer";
@import "null";


.container {
    max-width: 1170px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: "GT Pressura Regular";
    font-weight: 400;
    color: #000;
    background-color: #fff;
   
}
